<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/dist/index.css'/>
</head>
<body>
    <header id="topNav" class="navbar navbar-default navbar-fixed-top clearfix">
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html">
                <img class="img-dark" src="dist/i/logo-dark.png">
            </a>
        </div>
    </header>
    <div id="wrapper">
        <div id="layout-static">
            <div class="static-leftbar-wrapper">
                <div class="static-leftbar">
                    <div class="leftbar">
                        <ul class="lb-menu">
                            <li class="nav-separator">Overview</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/dist/index.js"></script>
</body>
</html>
