<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/dist/index.css'/>
</head>
<body>
    <header id="topNav" class="navbar navbar-default navbar-fixed-top clearfix">
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html">
                <img class="img-dark" src="dist/i/logo-dark.png">
            </a>
        </div>
    </header>
    <div id="wrapper">
        <div id="layout-static">
            <div class="static-leftbar-wrapper leftbar-bunting">
                <div class="static-leftbar">
                    <div class="leftbar">
                        <div class="widget stay-on-collapse" id="widget-leftbar">
                            <nav role="navigation" class="widget-body">
                                <ul class="acc-menu visible" style="height: auto;">
                                    <li class="nav-separator" data-localize="nav_overview">Overview</li>
                                    <li class="open active hasChild">
                                        <a href="javascript:;">
                                            <span class="icon"><i class="ion-android-home"></i></span>
                                            <span class="text" data-localize="nav_dashboard">Dashboard</span>
                                        </a>
                                        <ul class="acc-menu visible" style="height: auto;">
                                            <li class="active"><a href="index.html"><span class="text">Dashboard 1</span></a></li>
                                            <li><a href="index-small.html"><span class="text">Dashboard 2</span></a></li>
                                            <li><a href="index-horizontal.html"><span class="text">Dashboard 3</span></a></li>
                                        </ul>
                                    </li>
                                    <li class="hasChild">
                                        <a href="javascript:;">
                                            <span class="icon"><i class="ion-android-mail"></i></span>
                                            <span class="text" data-localize="nav_email">Email</span>
                                        </a>
                                        <ul class="acc-menu">
                                            <li><a href="app-inbox.html"><span class="text" data-localize="nav_email_inbox">Inbox</span></a></li>
                                            <li><a href="app-inbox-read.html"><span class="text" data-localize="nav_email_inbox_read">Inbox Read</span></a></li>
                                            <li><a href="app-inbox-compose.html"><span class="text" data-localize="nav_email_inbox_compose">Inbox Compose</span></a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/dist/index.js"></script>
</body>
</html>
